body, html {
  height: 100%;
  margin: 0;
  text-align: center;
}

.bgimg {
  background-image: url("../assets/artsybackground.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
